<form action= '<%= link_url(params[:id]) %>' method="POST">
  <input type='hidden' name='_method' value='PUT'>


   </br>
   <label> Link
   <label>Title
   <input type="text"
   name="link[title]"
   value='<%= @link.title %>'>
        </label>

    <label>URL
    <input type="text"
    name="link[url]"
    value='<%= @link.url %>'>>
          </label>

    <label>Text
      <textarea
        name='link[text]' placeholder = '<%= @link.text %>'></textarea>
        </label>
      </label>

      <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>"
      >
    </br>
    Which subs would you like to place this in?


    <% Sub.all.each do |sub| %>
    <label> <%= sub.name %>
      <input
        type="checkbox"
        name="link[joined_sub_ids][]"
        value="<%= sub.id %>"
        checked=<%= @link.joined_sub.map { |sub| sub.id }.include? sub.id ? "checked" : "" %>
      </label>
    <% end %>



    </br>
      <input type='submit' value='Edit Link'>
    </form>